<button class="btn btn-danger pull-right" (click)="cancelRequest()" >X</button>
<div>
    <table style="margin: 0 auto;" cellspacing="5" cellpadding="5">
        <tr>
            <td colspan="2">Contact Us at: </td>
        </tr>
        <tr>
            <td><i class="fa fa-location-arrow"></i></td>
            <td>D-16 Ground Floor, Sector 3, Noida, Uttar Pradesh 201301 India</td>
        </tr>
        <tr>
            <td><i class="fa fa-phone"></i> </td>
            <td>+91-9560536203</td>
        </tr>
        <tr>
            <td><i class="fa fa fa-envelope"></i> </td>
            <td>support@appointdistributors.com</td>
        </tr>
    </table>
</div>
