<form class="form-horizontal" [formGroup]="replyEnquiryForm" (ngSubmit)="saveReply()">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Reply to inquiry
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="control-label col-sm-2" for="name">Reply:</label>
                <div class="col-sm-10">                   
                    <textarea id="name" formControlName="replymessage" placeholder="Enter message" rows="5" style="width:100%" name="name" [ngClass]="{'is-invalid': replyEnquiryForm.invalid}"> </textarea>
                    <span class="invalid-feedback" *ngIf="replyEnquiryForm.invalid">
                        Message is required.
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <input type="submit" class="btn btn-primary" value="Submit" style="margin-right: 20px;">
                    <input type="button" class="btn btn-secondary pl-2" (mousedown)="cancelRequest()" value="Cancel">
                </div>
            </div>
        </div>
    </div>    
</form>