<div class="pull-left mb-3 w-100">
    <div class="card">
      <div class="card-header" #CompanyProfile>
        About Us
      </div>
      <div class="card-body">
          <p>AppointDistributor.com is a platform where we provide distributor prospects to the brands and manufacturing company who want to expand their business. As we create the distribution network throughout the India by providing them the access of distributor leads who are interested to take the distributorship in their category or business. With the time all business men need the expansion so we are here to provide the right solution for them and save their time & money by our platform and boost their business to the next level.</p>
          <p>Secondly from our platform who want to become distributor, we connect them with manufacturer so that it would be easy for them who are fresher in this field and searching for the distributorship and the experienced one are well known about their field so they can take the distributorship of multiple brands through our portal.</p>
          <p>So if we sum up we are a platform where you appoint or become distributors in India and boost your business to the next level.</p>

          <p><strong>How We Works:</strong></p>
          <p>Our team take the responsibility to connect right distributors for you and guide you for the expansion. They connect  you with  the interested distributors in your products and give you the instant support from their side to have healthy conversation with distributors. And do many other activities and creating the sources to generate business prospects for you. Our team will support you in every step of your distribution network. They also have the responsibility to best value added distributor in distributors leads. Also who want to become distributor they guide them for their best with great margin and connect them with the right brands.</p>

          <p><strong>Our Mission:</strong></p>
          <p>Our mission is to make our customers happy with our services and satisfy their need accordingly and provide them the best possible service and be the part of the business growth in distribution channel.</p>

          <p><strong>Our Vision:</strong></p>
          <p>Our vision is to provide the best quality services to the customers in the market. And become one of the India’s unique platform where we create the distribution network and boost the business to the next level.</p>
      </div>
    </div>

    
</div>
