<button class="btn btn-danger pull-right" (click)="cancelRequest()" >X</button>
<div>   
    <table style="margin: 0 auto;" cellspacing="5" cellpadding="5">        
        <tr>
            <td>Company name</td>
            <td>{{tableData['name']}}</td>
        </tr>
        <tr>
            <td>Mobile Number</td>
            <td>{{tableData['brandOwnerContactNumber']}}</td>
        </tr>
        <tr>
            <td>Email ID</td>
            <td>{{tableData['brandOwnerEmail']}}</td>
        </tr>
        <tr>
            <td>Customer Name</td>
            <td>{{tableData['brandOwner']}}</td>
        </tr>
        <tr>
            <td>Interested Product names</td>
            <td>{{tableData['productsKeywords']}}</td>
        </tr>
        <tr>
            <td>Investment Budget</td>
            <td>{{tableData['investmentRequired']}}</td>
        </tr>
        <tr>
            <td>Space Available</td>
            <td>{{tableData['spaceRequired']}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{tableData['distributorshipLocations']}}</td>
        </tr>        
    </table>
</div>