<div class="ExplorePremiumBrands">
    What our other clients often say
</div>
<div class='container'>
    <div class="row">
        <div class="col-12">
            <div class="item-box-blog">
                <div class="item-box-blog-body">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../../../assets/images/reviewImage1.jpeg" />
                                                <figcaption>Metro India Associates</figcaption>
                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="blockquote mb-0" style="font-size: 16px;">
                                                <p><i>I am Harshit Rungta Proprietor of ( Metro India Associates) will suggest to join AppointDistributors.com
                                                    because this portal has played a major role to increase our market reach, brand value, and popularity in
                                                    all over India. Specially i am thankfull for AppointDistributors.com Team. They understood my
                                                    requirement & provided me right distributor prospects.</i></p>
                                                <footer class="blockquote-footer">Harshit Rungta in
                                                    <cite title="Source Title">Metro India Associates</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../../../assets/images/reviewImage2.jpg" />
                                                <figcaption>Sai Shop Online</figcaption>
                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="blockquote mb-0" style="font-size: 16px;">
                                                <p><i>AppointDistributors.com is an amazing platform to find right partners from all over India. This portal
                                                     is providing me genuine distributor prospects & I am getting very positive response from them. I would like to
                                                     recommend this portal to all the business owners whho are finding the right platform to expand their business.</i></p>
                                                <footer class="blockquote-footer">Proprietor-
                                                    <cite title="Source Title">Kalu Ram Garg</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <!-- <ng-template ngbSlide>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../../../assets/images/coming-soon-brand.jpeg" />
                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="blockquote mb-0">
                                                <p><i>Coming Soon. To be descided</i></p>
                                                <footer class="blockquote-footer">Someone famous in
                                                    <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template ngbSlide>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <img class="img-thumbnail"
                                                src="../../../assets/images/coming-soon-brand.jpeg" />
                                        </div>
                                        <div class="col-md-9">
                                            <blockquote class="blockquote mb-0">
                                                <p><i>Coming Soon. To be descided</i></p>
                                                <footer class="blockquote-footer">Someone famous in
                                                    <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template> -->
                    </ngb-carousel>
                </div>
            </div>
        </div>
    </div>
</div>
