<form class="form-horizontal" [formGroup]="appointDistributorForm" (ngSubmit)="appointDistributorSubmit()">
    <div class="card">
        <div class="card-header bg-primary text-white">
            Appoint Distributor
        </div>
        <div class="card-body">
            <div class="form-group row">
                <label class="control-label col-sm-3" for="brandName">Brand Name<span class="required">*</span>:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="brandName" formControlName="brandName"
                        placeholder="Enter brand name" name="brandName" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.brandName}">
                    <span class="invalid-feedback" *ngIf="formErrors.brandName">
                        {{formErrors.brandName}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="businessNatures">Business Nature:</label>
                <div class="col-sm-9">
                    <ng-multiselect-dropdown formControlName="businessNatures" [placeholder]="'Business Nature'"
                        [settings]="businessNatureMultiSelectSettings" [data]="businessNatures">
                    </ng-multiselect-dropdown>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="investmentAmount">Investment Required<span
                        class="required">*</span>:</label>
                <div class="col-sm-9">
                    <select class="form-control" id="investmentAmount" formControlName="investmentAmount"
                        [ngClass]="{'is-invalid': formErrors.investmentAmount}" (blur)="logValidationErrors()">
                        <option value="" disabled>Select</option>
                        <option *ngFor="let invRange of investmentRanges" [value]="invRange.id">
                            {{invRange.name}}
                        </option>
                    </select>
                    <span class="invalid-feedback" *ngIf="formErrors.investmentAmount" style="display: block;">
                        Investment Required is required.
                    </span>
                </div>
                <!-- <div class="col-sm-4">
                    <input type="text" class="form-control" id="minInvestmentAmount"
                        formControlName="minInvestmentAmount" placeholder="Enter min investment amount in lacs"
                        name="minInvestmentAmount" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.minInvestmentAmount}" maxlength="6">
                    <span class="invalid-feedback" *ngIf="formErrors.minInvestmentAmount">
                        {{formErrors.minInvestmentAmount}}
                    </span>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="maxInvestmentAmount"
                        formControlName="maxInvestmentAmount" placeholder="Enter max investment amount in lacs"
                        name="maxInvestmentAmount" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.maxInvestmentAmount}" maxlength="6">
                    <span class="invalid-feedback" *ngIf="formErrors.maxInvestmentAmount">
                        {{formErrors.maxInvestmentAmount}}
                    </span>
                </div> -->
            </div>
            <div class="form-group  row">
                <label class="control-label col-sm-3" for="establishmentYear">Establishment Year<span
                        class="required">*</span>:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="establishmentYear" formControlName="establishmentYear"
                        placeholder="Enter establishment year" name="establishmentYear" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.establishmentYear}">
                    <span class="invalid-feedback" *ngIf="formErrors.establishmentYear">
                        {{formErrors.establishmentYear}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="spaceRequired">Space Required (Sq Ft):</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="spaceRequired" formControlName="spaceRequired"
                        placeholder="Enter space required (Sq Ft)" name="spaceRequired" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.spaceRequired}">
                    <span class="invalid-feedback" *ngIf="formErrors.spaceRequired">
                        {{formErrors.spaceRequired}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="categories">Business Categories<span
                        class="required">*</span>:</label>
                <div class="col-sm-9">
                    <!-- <ng-multiselect-dropdown formControlName="categories"
                      [placeholder]="'Select one or more categories'" [settings]="categoriesSettings"
                      [data]="categories" [ngClass]="{'is-invalid': formErrors.categories}" (onDropDownClose)="logValidationErrors()" >
                  </ng-multiselect-dropdown>
                  <span class="invalid-feedback" style="display: block;">
                      {{formErrors.categories}}
                  </span> -->
                    <select class="form-control" id="categories" formControlName="categories"
                        [ngClass]="{'is-invalid': formErrors.categories}" (blur)="logValidationErrors()">
                        <option value="">Select</option>
                        <option *ngFor="let category of categories" value={{category.id}}>
                            {{category.name}}
                        </option>
                    </select>
                    <span class="invalid-feedback" style="display: block;">
                        {{formErrors.categories}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="totalEmployees">Number of Employees:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="totalEmployees" formControlName="totalEmployees"
                        placeholder="Enter number of employees" name="totalEmployees" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.totalEmployees}">
                    <span class="invalid-feedback" *ngIf="formErrors.totalEmployees">
                        {{formErrors.totalEmployees}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="annualSales">Annual Sales:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="annualSales" formControlName="annualSales"
                        placeholder="Enter annual sales figure" name="annualSales" (blur)="logValidationErrors()"
                        [ngClass]="{'is-invalid': formErrors.annualSales}">
                    <span class="invalid-feedback" *ngIf="formErrors.annualSales">
                        {{formErrors.annualSales}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="productsKeywords">Products Keywords<span
                        class="required">*</span>:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="productsKeywords" formControlName="productsKeywords"
                        placeholder="Enter products' keywords in comma seperated format" name="productsKeywords"
                        (blur)="logValidationErrors()" [ngClass]="{'is-invalid': formErrors.productsKeywords}">
                    <span class="invalid-feedback" *ngIf="formErrors.productsKeywords">
                        {{formErrors.productsKeywords}}
                    </span>
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="productsKeywords">Company profile:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="description" rows="3" formControlName="description"
                        placeholder="Company profile" name="description"></textarea>

                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="productsKeywords">Distributors Benefits:</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="distributorsBenefits" rows="3"
                        formControlName="distributorsBenefits" placeholder="Distributor benefits"
                        name="distributorsBenefits"></textarea>
                </div>
            </div>
            <!-- <div class="form-group row">
                <label class="control-label col-sm-3" for="distributorshipType">Distributorship Type:</label>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="countrywise" value="1" formControlName="countrywise"
                            name="countrywise">
                        Country-wise
                    </label>
                </div>
                <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="regionwise" value="2" formControlName="regionwise" name="regionwise"
                            (change)='onRegionChecked($event)'>
                        Region-wise
                    </label>
                </div>
                <div class="col-sm-3">
                    <ng-multiselect-dropdown formControlName="regions" [placeholder]="'Regions'"
                        [settings]="locationMultiSelectSettings" [data]="regions" [(ngModel)]="selectedRegions">
                    </ng-multiselect-dropdown>
                </div>
            </div> -->
            <div class="form-group row">
                <label class="control-label col-sm-3" for="distributorshipType">Distributorship Location:</label>
                <!-- <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="statewise" value="3" formControlName="statewise" name="statewise"
                            (change)='onStateChecked($event)'>
                        State-wise
                    </label>
                </div> -->
                <div class="col-sm-9">
                    <div class="fl w-100">
                        <label>
                            <input type="checkbox" value="0" (click)="selectAllStates($event)" />
                            Country wise
                        </label>
                    </div>
                    <div class="fl w-100">
                        <div class="displayStates" formArrayName="states">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="displayStates color-blue"><b>Central</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataCentral; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataCentral[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataCentral[i].name}}
                                        </label>
                                    </div>

                                    <br/><br/><br/>

                                    <div class="displayStates color-blue"><b>West</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataWest; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataWest[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataWest[i].name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="displayStates color-blue"><b>East</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataEast; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataEast[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataEast[i].name}}
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="displayStates color-blue"><b>North</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataNorth; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataNorth[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataNorth[i].name}}
                                        </label>
                                    </div>
                                    <br/> <br/> <br/>

                                    <div class="displayStates color-blue"><b>South</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataSouth; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataSouth[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataSouth[i].name}}
                                        </label>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-2">
                                    <div class="displayStates"><b>South</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataSouth; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataSouth[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataSouth[i].name}}
                                        </label>
                                    </div>
                                </div> -->
                                <!-- <div class="col-sm-2">
                                    <div class="displayStates"><b>West</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataWest; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataWest[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataWest[i].name}}
                                        </label>
                                    </div>
                                </div> -->
                                <div class="col-sm-3">
                                    <div class="displayStates color-blue"><b>Union Territories</b></div>
                                    <div class="displayStates" *ngFor="let state of statesDataUT; let i = index">
                                        <label>
                                            <input type="checkbox" [formControlName]="i"
                                                [value]="statesDataUT[i].id"
                                                (click)="selectState($event.target.value)">
                                            {{statesDataUT[i].name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="fl w-100">
                        <div class="displayStates" formArrayName="states"
                            *ngFor="let state of statesFormArray.controls; let i = index">
                            <label>
                                <input type="checkbox" [formControlName]="i" [value]="statesData[i].id" (click)="selectState($event.target.value)">
                                {{statesData[i].name}}
                            </label>
                        </div>
                    </div> -->

                    <!-- <ng-multiselect-dropdown formControlName="states" [placeholder]="'States'"
                        [settings]="locationMultiSelectSettings" [data]="states" [(ngModel)]="selectedStates">
                    </ng-multiselect-dropdown> -->
                </div>
                <!-- <div class="col-sm-2">
                    <label class="checkbox-inline">
                        <input type="checkbox" id="citywise" value="4" formControlName="citywise" name="citywise"
                            (change)='onCityChecked($event)'>
                        City-wise
                    </label>
                </div> -->
                <div class="col-sm-3">
                    <!-- <ng-multiselect-dropdown formControlName="cities" [placeholder]="'Cities'"
                        [settings]="locationMultiSelectSettings" [data]="cities" [(ngModel)]="selectedCities">
                    </ng-multiselect-dropdown> -->
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="brandLogo">Company Logo:</label>
                <div class="col-sm-5">
                    <input type="file" class="form-control" id="brandLogo" formControlName="brandLogo" name="brandLogo"
                        placeholder="Select company logo" (change)='onLogoSelected($event)'>
                </div>
                <div class="col-sm-4">
                    <img [src]="brandLogoUrl" height="50">
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-sm-3" for="productsImages">Products Images:</label>
                <div class="col-sm-9">
                    <input type="file" multiple class="form-control" id="productsImages" name="productsImages"
                        placeholder="Select products images" (change)='onProductsImagesSelected($event)'>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-9 preview-images">
                    <table class="table table-striped">
                        <tr>
                            <td *ngFor='let url of productsImages'>
                                <img [src]="url" height="80" width="80">
                                <i class="fa fa-trash fa-lg image-delete" aria-hidden="true" title="Delete"
                                    (click)='onDeleteProductImage($event)'></i>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <button mat-button matStepperPrevious class="btn btn-primary"
                        style="margin-right: 20px;">Previous</button>
                    <input type="submit" class="btn btn-primary" [disabled]="appointDistributorForm.invalid"
                        value="Submit" style="margin-right: 20px;">
                    <!-- <input type="button" class="btn btn-secondary pl-2" (mousedown)="cancelRequest()" value="Cancel"> -->
                </div>
            </div>
        </div>
    </div>

</form>
<!-- <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">
  <p style="color: white">Please Wait...</p>
</ngx-spinner> -->