<!--footer starts from here-->
<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
            <div class=" col-sm-4 col-md col-sm-4  col-12  find-us">
                <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
                <!--headin5_amrc-->
                <!-- <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s</p> -->
                <!-- <p><i class="fa fa-location-arrow"></i> D-16 Ground Floor, Sector 3, Noida, Uttar Pradesh 201301 India</p>
                <p><i class="fa fa-phone"></i> +91-9560536203 </p>
                <p><i class="fa fa fa-envelope"></i> support@appointdistributors.com</p> -->
                <ul class="footer_ul_amrc">
                    <li><a routerLink="about-us">About Our Company</a></li>
                    <li><a (click)="openDialog('contactus')">Contact Us</a></li>
                </ul>


            </div>


            <div class=" col-sm-4 col-md  col-4 ">
                <h5 class="headin5_amrc col_white_amrc pt2">Join Us</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <!-- <li><a routerLink="register">Register</a></li> -->
                    <li><a (click)="openDialog('requestcallback')">List Your Company</a></li>
                    <li class="desktop-social"><a href="https://pmny.in/LIvWYBy35cie" target="_blank"> Make Payment </a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class=" col-sm-4 col-md  col-4 mobile-payment">
                <h6 class="headin5_amrc col_white_amrc pt2">Payment</h6>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">

                    <li><a href="https://pmny.in/LIvWYBy35cie" target="_blank"> Make Payment </a></li>
                </ul>

            </div>


            <div class=" col-sm-4 col-md col-4">
                <h5 class="headin5_amrc col_white_amrc pt2">Let Us Help You</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a (click)="openDialog('requestcallback')">Post Your Requirements</a></li>
                    <li><a (click)="openDialog('customercare')">Contact Customer Care</a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

            <div class=" col-sm-12 col-md col-12">

                <!--headin5_amrc-->
                <ul class="footer_ul_amrc desktop-social">
                    <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                    <li>
                        <a href="https://www.facebook.com/AppointDistributorscom-105005365178690/?ref=pages_you_manage" target="_blank">Facebook</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/AppointDistrib1" target="_blank">Twitter</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/appointdistributors/" target="_blank">Instagram</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=net.appoint.distributors" target="_blank">
                            <img width="100px" src="../../../../assets/images/android.png"/>
                        </a>
                    </li>
                </ul>
                    <div class="row">
                        <div class="col-sm-4 col-4"> <h5 class="headin5_amrc col_white_amrc pt2 mobile-payment follow" >Follow us</h5></div>
                        <div class="col-sm-10 col-8">
                            <ul class="social_footer_ul mobile-payment" style="padding-top: 10px;">
                                <li><a href="https://www.facebook.com/AppointDistributorscom-105005365178690/?ref=pages_you_manage" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="https://twitter.com/AppointDistrib1" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="https://www.instagram.com/appointdistributors/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="https://play.google.com/store/apps/details?id=net.appoint.distributors" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>



            </div>
        </div>
    </div>


    <div class="container">
         <!-- <ul class="foote_bottom_ul_amrc">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>

        </ul> -->
        <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center mt-4">Copyright © 2021 Bizzpride India Pvt. Ltd. All rights reserved.</p>

        <ul class="social_footer_ul desktop-social">
            <li><a href="https://www.facebook.com/Appoint-Distributors-105446418409820" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/AppointDistrib1" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/appointdistributors/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://play.google.com/store/apps/details?id=net.appoint.distributors" target="_blank"><i class="fa fa-android" aria-hidden="true"></i></a></li>
        </ul>
        <!--social_footer_ul ends here-->
    </div>

</footer>
