<app-request-callback (closePopupEvent)="onNoClick($event)" *ngIf="data == 'requestcallback'" ></app-request-callback>

<app-post-requirement (closePopupEvent)="onNoClick($event)" *ngIf="data == 'postrequirements'" ></app-post-requirement>

<app-login (closePopupEvent)="onNoClick($event)" *ngIf="data == 'login'" ></app-login>

<app-my-profile (closePopupEvent)="onNoClick($event)" *ngIf="data == 'myprofile'"></app-my-profile>

<app-my-business-profile (closePopupEvent)="onNoClick($event)" *ngIf="data == 'mybusinessprofile'"></app-my-business-profile>

<app-distributed-lead-data (closePopupEvent)="onNoClick($event)" *ngIf="data == 'distributorLeadsData'"></app-distributed-lead-data>

<app-paid-member-only (closePopupEvent)="onNoClick($event)" *ngIf="data == 'paidonly'"></app-paid-member-only>

<app-send-enquiry (closePopupEvent)="onNoClick($event)" *ngIf="data[0] == 'sendenquiry'" [brandId]="data[1]"></app-send-enquiry>

<app-reply-enquiries (closePopupEvent)="onNoClick($event)" *ngIf="data[0] == 'replyToenquiry'" [emailId]="data[1]" [enquiryId]="data[2]"></app-reply-enquiries>

<app-contact-customer-care (closePopupEvent)="onNoClick($event)" *ngIf="data == 'customercare'"></app-contact-customer-care>

<app-contact-us (closePopupEvent)="onNoClick($event)" *ngIf="data == 'contactus'"></app-contact-us>