<button class="btn btn-danger pull-right" (click)="cancelRequest()" >X</button>
<div>
    <table style="margin: 0 auto;" cellspacing="5" cellpadding="5">
        <tr>
            <td colspan="2">Please find the Customer Care details below: </td>
        </tr>
        <tr>
            <td><i class="fa fa-phone"></i> Mobile Number</td>
            <td>+91-9560536203</td>
        </tr>
        <tr>
            <td><i class="fa fa fa-envelope"></i> Email ID</td>
            <td>support@appointdistributors.com</td>
        </tr>
    </table>
</div>
