<div class="pull-left mb-3 w-100">
    <div class="card">
      <div class="card-header" #CompanyProfile>
        Privacy Policy
      </div>
      <div class="card-body">
          <ol>
            <li>This privacy policy of AppointDistributors.com is applicable to all confidential personal information that is collected on the site. In this policy, the site highlights how and why we tend to collect all relevant and accurate personal information and how we make use of it.</li>
            <li>AppointDistributors.com is dedicated to comply with legislations of governing privacy of confidential personal information by business and protects all your privacy in the best possible manner when you make deals with us.</li>
            <li>Some information provided by our clients, contractors, customers and other third parties may be considered as private or personal. Without these details we won’t be able to carry on the business initiate the services effectively.</li>
            <li>Personal information collected from different people so that if you contact us for any issue, query, we keep complete record of that correspondence in the best effort basis. It can help us to find solution and can do ( RCA) root cause analysis of any issue or query raised by you.</li>
            <li>The personal data collected by us is a step to make you aware of who we are, we also allow you to gain access to information held about you.</li>
            <li>When such disclosure is must under authorized law</li>
            <li>Where we believe that the use of the disclosure is essential for the refrainment, investigation, punishment and prosecution of crimes or wrongdoings for conduct of proceedings afore any court or tribunal for the implementation of the order of the court or tribunal by the enforcement body.</li>
            <li>Website may contain links of other websites and those of third parties that may collect personal information about you in which we are not liable in any manner. We are not at all responsible for the private practices of other businesses or the data on the websites that are linked to our websites. We on our portal encourage users to stay aware when they leave the site and read the privacy statements of each and every linked website.</li>
            <li>Our portal places a great emphasis on the security of the information that is associated with our customers and contractors. We have complete security measures that protects against loss, alteration and misuse of any personal information that is under our control.</li>
            <li>Personal information is to be de-identified or to be destroyed securely when no longer required by us.</li>
            <li>The AppointDistributors.com retains the information you dole out to us and comprises your contact and all credit details to ensure us that you verify transactions and customer details for adequate records for legal and accounting purposes.</li>
            <li>All the major information stored with our computer can only be accessed by trust worthy authorities.</li>
            <li>Finally users are solely responsible for keeping their passwords or any form of account information secret. You ought to be careful and responsible whenever you are online. You must not share your password with any one for safety and you shall be solely responsible for keeping privacy of your account.</li>
            <li>Access to and correction of personal information<br/>
        We at AppointDistributors.com are dedicated to maintain authentic and accurate information of our customers in the best possible manner.</li>
            <li>we will provide you with the access to that information. if it is required by compliance.</li>
            <li>You shall be solely responsible for any inaccurate information provided by you , we are not liable for any inaccurate information given by you.</li>
            <li>Complaints:<br />
        If you have any complaints Email us at support@appointdistributors.com.</li>
            <li>Acceptance:<br/>
        You accept that your use of this site includes your acceptance of this Privacy Policy and the Terms of Use.</li>
        
        </ol>
          
      </div>
    </div>

    
</div>

